.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900 !important;
}

.form {
  display: flex !important;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}
