@layer mantine, login;

@layer login {
  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
  }

  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
}
