.container {
  max-width: 50%;
  @media (max-width: 375px) {
    max-width: 100%;
  }
  @media (max-width: 567px) {
    max-width: 90%;
  }
  @media (max-width: 795px) {
    max-width: 80%;
  }

  @media (max-width: 950px) {
    max-width: 60%;
  }
}
